body {
    background-color: #0A1929;
    color: white;
}

.masterHeader {
    width: 100%;
    padding: 25px;
    max-width: 60%;
    font-weight: bold;
    font-size: 30px;
    position: fixed;

    margin : 0 auto;
    top : 0;
    right: 0;
    left: 0;
}

.headerBox{
    display: inline-block;
}

.main_nav{
    float: right;
    margin-right: 50px;
    margin-top: 10px;
}

.masterHeader .sub_title{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.content {
    height: 10000000px;
}